* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#015230, #000000);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    background: #000;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid #fffafa;
    box-shadow: 0 0 50px #000;
    color: #bcaeae;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.clock ul li {
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 10px;
}

.clock ul li span {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::after {
    content: ' ';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}

.needle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.needle span {
    width: 5px;
    height: var(--h);
    background-color: var(--c);
    position: absolute;
    border-radius: 5px;
}